<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/reset.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
    <h1><%= title %></h1>
    <p>已监控页面</p>
    <ul>
        <% list.forEach(function(item){ %>
        <li><a href="/#!/show/<%= item.path %>" title="点击查看详情"><%= item.url %></a></li>
        <% }); %>
    </ul>
    <div id="list"></div>
    <div id="diff"></div>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>