a {
  color: #3498db;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  background: #fff;
  font-size: 14px;
  font-family: 'helvetica neue', tahoma,
  'hiragino sans gb', stheiti,
  'wenquanyi micro hei',
  \5FAE\8F6F\96C5\9ED1, \5B8B\4F53,
  sans-serif;
  line-height: 14px;
  color: #34495e;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece
{
  background-color: rgba(0,0,0,0.1);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
  height: 5px;
  background-color: rgba(0,0,0,0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
  width: 5px;
  background-color: rgba(0,0,0,0.7);
  -webkit-border-radius: 6px;
}

.header {
  background: #2c3e50;
  color: #ecf0f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #fff;
  position: relative;
  z-index: 10000;
}

.header h1 {
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  padding-left: 20px;
  font-weight: normal;
}

.info {
  position: absolute;
  left: 0;
  top: 40px;
  width: 199px;
  background: #ecf0f1;
  border-right: 1px solid #ccc;
  bottom: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.info-inner {

}

.info h2 {
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
}

.info ul {
  word-break: break-all;
}

.info ul li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

.info ul a {
  display: block;
  padding: 10px;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.info ul a:hover {
  background: #3498db;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.main {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 0;
  bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2980b9;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  border-top: 1px solid #fff;
}

.footer a {
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

.list {
  width: 100%;
  overflow-x: scroll;
  border-bottom: 1px solid #ccc;
  background: #eee;
}

#list {
  margin: 6px 7px 5px;
}

#list td {
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
}

.screenshot {
  width: 120px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none;  /*webkit浏览器*/
  -ms-user-select: none;   /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}

.screenshot .title {
  font-size: 12px;
  text-align: center;
  background: #333;
  color: #ffffff;
  line-height: 20px;
  height: 20px;
}

.screenshot.actived .title {
  background: #e67e22;
}

.screenshot .pic {
  overflow: hidden;
  position: relative;
  height: calc(100% - 20px);
}

.screenshot .pic:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
}

.screenshot img {
  width: 100%;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#diff {
  background: #fff;
  text-align: center;
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 30px;
}

#diff img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin: 20px;
}